/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: $defaultText;
  background: rgba(0, 0, 0, 0.07);
  line-height: 2;
  //letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: $headerText;
}

h1,
.page__title {
  @extend %title;
  font-size: 3rem;
}
h2,
.section__title {
  @extend %title;
  font-size: 1.5rem;
}

.button {
  @extend %box-shadow;
  cursor: pointer;
  padding: 12px 20px;
  display: inline-block;
  background: white;
  color: $primary;
  margin: auto 8px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 20px;
  &.--primary {
    background: $primary;
    color: white;
  }
  &.--icon {
    font-weight: normal;
    text-transform: none;
    padding: 12px;
  }
  &:hover {
    filter: brightness(120%);
    transform: scale(1.1);
    font-weight: bold;
  }
}
